
/* apply on tablette mode*/
@media (max-width: 990px) {
    .sm-hid{
        display: none;
    }
    .btn-outline-primary.circle{
        width: 50px !important;
        height: 50px !important;
    }
    .modal.fade.in .modal-dialog {
        transform: translate(+2%,+4%) !important;
    }
    .profile-block{
        margin-top: 50px;
        padding-top: 20px;
    }
    .name-block .username {
        margin: 15px !important;
    }
    .name-block .description {
        margin: 15px !important;
    }
}

/* just on web mode */
@media (min-width: 990px){
    .hidden-lg{
        display: none;
    }

    .center-login{
        margin-top: 12% !important;
    }

    .mySidenav{
        width: 0 ;
    }
    #main{
        margin-left: 0;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}