
.btn-outline-primary{color:#DF691A;background-color:transparent;background-image:none;border-color:#DF691A}.btn-outline-primary:hover{color:#fff;background-color:#DF691A;border-color:#DF691A}.btn-outline-primary:focus,.btn-outline-primary.focus{-webkit-box-shadow:0 0 0 0.2rem rgba(223,105,26,0.5);box-shadow:0 0 0 0.2rem rgba(223,105,26,0.5)}.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#DF691A;background-color:transparent}.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{color:#fff;background-color:#DF691A;border-color:#DF691A}.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{-webkit-box-shadow:0 0 0 0.2rem rgba(223,105,26,0.5);box-shadow:0 0 0 0.2rem rgba(223,105,26,0.5)}.btn-outline-secondary{color:#4E5D6C;background-color:transparent;background-image:none;border-color:#4E5D6C}.btn-outline-secondary:hover{color:#fff;background-color:#4E5D6C;border-color:#4E5D6C}.btn-outline-secondary:focus,.btn-outline-secondary.focus{-webkit-box-shadow:0 0 0 0.2rem rgba(78,93,108,0.5);box-shadow:0 0 0 0.2rem rgba(78,93,108,0.5)}.btn-outline-secondary.disabled,.btn-outline-secondary:disabled{color:#4E5D6C;background-color:transparent}.btn-outline-secondary:not(:disabled):not(.disabled):active,.btn-outline-secondary:not(:disabled):not(.disabled).active,.show>.btn-outline-secondary.dropdown-toggle{color:#fff;background-color:#4E5D6C;border-color:#4E5D6C}.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-secondary.dropdown-toggle:focus{-webkit-box-shadow:0 0 0 0.2rem rgba(78,93,108,0.5);box-shadow:0 0 0 0.2rem rgba(78,93,108,0.5)}.btn-outline-success{color:#5cb85c;background-color:transparent;background-image:none;border-color:#5cb85c}.btn-outline-success:hover{color:#fff;background-color:#5cb85c;border-color:#5cb85c}.btn-outline-success:focus,.btn-outline-success.focus{-webkit-box-shadow:0 0 0 0.2rem rgba(92,184,92,0.5);box-shadow:0 0 0 0.2rem rgba(92,184,92,0.5)}.btn-outline-success.disabled,.btn-outline-success:disabled{color:#5cb85c;background-color:transparent}.btn-outline-success:not(:disabled):not(.disabled):active,.btn-outline-success:not(:disabled):not(.disabled).active,.show>.btn-outline-success.dropdown-toggle{color:#fff;background-color:#5cb85c;border-color:#5cb85c}.btn-outline-success:not(:disabled):not(.disabled):active:focus,.btn-outline-success:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-success.dropdown-toggle:focus{-webkit-box-shadow:0 0 0 0.2rem rgba(92,184,92,0.5);box-shadow:0 0 0 0.2rem rgba(92,184,92,0.5)}

.btn-primary {
    color: #fff;
    background-color: #DF691A;
    border-color: #DF691A;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #bd5916;
    border-color: #b15315;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #DF691A;
    border-color: #DF691A;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b15315;
    border-color: #a64e13;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
  }
  

/*
gray claire: #c9cacc
gray sambre : #4b4d54
gray tres sambre : #27292f
gray to black: #23252b

orange claire: #ff6541
orange sambre: #a94d3a
*/

:root {
    /** primary colors */
    --gray-1: #c9cacc;
    --gray-2: #4b4d54;
    --gray-2b: #32343a;
    --gray-3:  #27292f;
    --gray-4: #23252b;
    
    --orange-1: #ff6541;
    --orange-2: #a94d3a;

/** backgrounds for icons SVG */
    --fill-white :invert(.5) sepia(1) saturate(1) hue-rotate(-13deg) brightness(435%);
    --fill-orange :invert(.5) sepia(1) saturate(29) hue-rotate(350deg);
  }
@font-face {
    src: url('../fonts/MyriadPro-Regular.otf');
    font-family:  "myriad";
}
@font-face {
    src: url('../fonts/MyriadPro-Bold.otf');
    font-family:  "myriad-bold";
}
*{
    font-family:  "myriad";
}
.btn{
    border-radius: 1px ;
    border: solid 1px var(--gray-2);
    text-transform: none!important;
    box-shadow: unset !important;
    font-size: 10pt;
    padding: 5pt 30pt;
    background-color: var(--gray-4); 
}
.btn:hover{
    border-color: transparent!important;
    background-color: var(--orange-2) !important;
}
.txt-org{
color: var(--orange-1);
}
.txt{
    color: var(--gray-1);
}
body{
    background-color: var(--gray-3);
}
.b{
    font-weight: bold;
}
.full-width{
    width: 100%;
}

nav > .col-lg-1{
    max-width: 5.333333%!important;
}
.my-input-group{
    display: inline-flex;
    background-color: white;
    border-radius: 16px;
    height: 27px;
}
.my-input-group input {
    height: 100% !important;
    font-size: 0.81rem!important;
    box-shadow: none!important;
    color: var(--gray-2) !important;
    padding-left: 33px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 13px;
}

.my-input-group img {
    width: 14px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 14px;
}
.icon{
    width: 21px;
    color: var(--gray-2);
    margin-right: 7pt;
}
.navbar .col-lg-2{
    max-width: 12.666667% !important;
    padding: 0!important;
    text-align: center!important;
}
.navbar{
    background-color: var(--gray-2) !important;
    padding: 0;
}
nav .col-lg-2:last-child{
    color: white;
    font-weight: bold;
    font-size: 14pt;
    text-align: right!important;
}
.navbar .col-lg-1{
    max-width: 5.33%;
}
.logo-home{
    padding-top: 8pt;
    padding-left: 4pt;
    cursor: pointer;
}
.body-content-top{
    padding: 0;
}
.body-content-top{
    background-color: var(--gray-3);
}
::placeholder{
color: var(--gray-1);
opacity: 1;
}
.right-bar{
    transition :all ease 0.8s;
    padding: 0 !important;
    background-color: var(--gray-3);
    box-shadow: -2px 3px 9px black;
}
.right-bar .search, .sidenav .search{
    margin-top: 25pt;
    width: 100%;
    background-color: var(--gray-2b);
    padding-left: 26pt;
    padding-right: 4pt;
    display: flex;
}
.search i{
    color: var(--gray-1);
    height: 100%;
    font-size: 11pt;
    margin-top: 10pt;
    margin-right: 14pt;
}
.right-bar input, .right-bar input:focus, .sidenav input, .sidenav input:focus{
    background-color: transparent;
    border: none !important;
    width: 100%;
    box-shadow: unset !important;
    color: var(--gray-1);
    outline: none;
}
input:focus{
    box-shadow: unset !important;
    border-bottom: solid 2px var(--orange-1) !important;
}
select:focus{
    box-shadow: unset !important;
    border-bottom: solid 2px var(--orange-1) !important;
}
.right-bar input:focus{
border: none;
box-shadow: unset;
}
.right-bar .content{
    padding: 29pt;
}
.right-bar .large{
    width: 100% !important;
    font-size: 28pt;
    padding: 0px !important;
    font-family: "myriad";
    line-height: 1.1;
}
.right-bar .lecteur-item{
    margin-top: 20pt;
    line-height: 4pt;
    border-bottom: solid 1px var(--gray-2);
    padding-bottom: 7pt;
}

.lecteur-item b{
    font-weight: bold;
    font-family: "myriad-bold";
    color: var(--gray-1);
}
.lecteur-item p{
    color: #8a8c90;
}
.body{
    display: flex;
}

.body-content-top .head{
        border-bottom: solid 2px #4b4d54;
        padding: 25pt;
}
.body-content-top .center{
    padding: 25pt;
    background: url(../images/bg.jpg);
}

.dataTables_wrapper{
    width: 100%;
}
.show{
    display: block !important;
}
#example_wrapper #example_length,#example_wrapper #example_filter{
    /*display: none !important;*/
}
#example_info{
    display: none !important;
}
table.dataTable tbody tr {
    background-color: transparent !important;
    line-height: 2.3;
    font-size: 11pt;
}
#example_wraper{
    width: 100%;
    padding-right: 2%;
}
.my-table{
    color: #c0c0c2;
}
.my-table thead{
    color: var(--gray-1);
    font-family: myriad-bold;
    font-size: 11pt;
    background-color: var(--gray-2b);
}
table.dataTable thead th, table.dataTable thead td {
     border-bottom: unset !important; 
}

.my-table th:first-child{
    width: 1px !important;
}
.orange{
    color: var(--orange-1);
}
.orange-icon{
    filter: var(--fill-orange);
}
.gray-icon{
    filter: invert(.5) sepia(1) saturate(29) hue-rotate(150deg);
}
.navbar-dark .navbar-toggler {
    border: none !important;
}
.navbar-dark .navbar-toggler img{
    width: 20pt;
    filter:var(--fill-white);
}
input.search-rond,input.search-rond:focus{
    background: url('../icons/loop.svg') no-repeat;
    background-position: left;
    padding-left: 27pt;
    height: 25px !important;
    font-size: 11pt !important;
    background-size: 11pt;
    background-color: var(--gray-1);
    border-radius: 31px;
    background-position-x: 9pt;
    padding-right: 11pt;
    color: var(--gray-4) !important;
    margin-top: -6px;
    padding-top: 10pt;
    padding-bottom: 7pt;
}

nav li.nav-item,.tablete-mode li.nav-item {
    margin-right: 25pt;
}

nav li.nav-item:hover span, .tablete-mode li.nav-item:hover span {
    color: white;
}
img{
    transition: all ease 0.2s;
}
nav li.nav-item:hover img, .tablete-mode li.nav-item:hover img{
    filter: var(--fill-white);
}
.nav-item.active span,.tablete-mode .nav-item.active span{
    color: var(--orange-1);
}
.nav-item.active img{
    filter: var(--fill-orange);
}
nav li.nav-item:last-child{
    font-weight: bolder;
    font-size: 12pt;
    line-height: 1;
}
.tablete-mode li.nav-item:last-child .txt{
    position: relative;
    bottom: 8pt;
    left: 4pt;
}
.tablete-mode li.nav-item{
    margin-top: 14pt;
    border-bottom: solid 1px;
    margin-left: 12pt;
    font-size: 11pt;
}

ul.navbar-nav{
   /* padding: 9pt 1pt 5pt 1pt;*/
}

.circled{
    border: solid 1px;
    padding: 6px 8pt;
    text-align: center;
    border-radius: 54%;
    color: var(--gray-1);
    font-weight: bold;
}
.my-table .circled{
    font-weight: bolder;
    font-size: 13pt;
}
img.download{
    cursor: pointer;
    margin-left: 40pt;
    width: 20pt;
}
img.download:hover{
    filter: unset;
}

.img-fill{
    width: 26pt;
    height: 26pt;
    background-position: 65%;
    background-size: 226%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-flex;
    border: solid 2px gray;
}

/* form group with icon */
form .input-group-append{
    padding: 4%;
    margin-left: -41px;
    z-index: 1;
}
.input-group input{
    z-index: 0 !important;
}


a{
    color: var(--gray-1) !important;
    font-weight: bold !important;
}
a:hover{
    color: var(--orange-2) !important;
}
/*
Index page
 */

.center-login form input{
    padding-right: 25px!important;
    color: white !important;
}
.center-login form input:focus {

}

.center-login img{
    width: 60%;
    margin-bottom: 25%;
}

input[type='submit']{
    width: 100%;
}
.footer .circled:nth-child(2){
    border: solid 2px;
    padding: 6px 8.5pt;
}
.footer .circled:first-child{
    margin-right: 7pt;
    border: solid 2px;
    padding: 6px 5pt;
}

.my-table tr:hover{
    color: var(--orange-1);
    /*cursor: pointer;*/
}.my-table thead tr:hover{
    color: white;
    /*cursor: pointer;*/
}
.my-table tr:hover .circled{
    color: var(--orange-1) !important;
    cursor: pointer;
}
#main{
    width: 100% !important;
}
/* bootstrap */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
/* fin bootstrap ! */

.left-align{
    position: absolute;
    left: 13pt;
}.right-align{
     position: absolute;
     right: 13pt;
}
.btn.rond{
    border-radius: 50%;
}
i.search{
    color: white;
    font-size: 13pt;
    margin-right: 14pt;
}
.center div{
    width: 100%;
}
.row.line {
    margin: 7pt 0pt;
}
.row.line span:last-child{
    position: absolute;
    right: 13pt;
    font-size: 11pt;
    margin-top: 3pt;
}
.row.line span:nth-child(2){
    padding-left: 6pt;
    font-size: 13pt;
    font-family: myriad;
    margin-top: 3pt;
}
.panel-title{
    cursor: pointer;
    font-size: 12pt;
    padding: 2pt 7pt;
    background-color: #4b4d548c;
    color: var(--gray-1);
    font-weight: bold;
    border-bottom: solid 1px gray;
}

/* top-menu */
*:not('#panel'){
    transition: all ease 0.3s;
    font-size: 11pt;
}

.sidenav {
    min-height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 2px 4px 9px var(--gray-dark);
    background-color: var(--gray-3);
    overflow-x: hidden;
    transition: 0.5s;
    /*padding: 11pt;*/
}
.larg-icon{
    height: 59pt;
    padding: 13pt;
    width: 83pt;
    margin: auto;
}
/* fin top-menu */

