
/* apply on tablette mode*/
@media (max-width: 990px) and (min-width:450px) {
    .sm-hid{
        display: none;
    }
    .btn-outline-primary.circle{
        width: 50px !important;
        height: 50px !important;
    }
}

/* just on web mode */
@media (min-width: 990px){
    .hidden-lg{
        display: none;
    }

    .center-login{
        margin-top: 12% !important;
    }

    .mySidenav{
        width: 0 ;
    }
    #main{
        margin-left: 0;
    }
}
/* mode smartPhone */
@media (min-width: 450px)  {
    

 }

@media (max-width:450px){
 .xs-hid{
     display: none;
 }
 .right-bar{
display: none;
 }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}