input  {
    color: white !important;
}
::placeholder{
    color: gray !important;
    opacity: 1;
}

#flip {
    padding: 0;
    text-align: center;
    display: flex;
    border-bottom: solid 1px #c3c3c3;
    margin-top: 18pt;
    cursor: pointer;
}
#flip:hover p{
    color: white;
    font-size: 11pt;

}
#flip>i{
    position: absolute;
    right: 22pt;
}
#flip>p{
    font-size: 11pt;
    color: gray;
}
#flip.active>i{
    color: var(--orange-1);
    font-size: 13pt;
    transition: all ease 0.3s;
}
#flip.active>p{
    color:white;
}
#panel1,.panel {
    padding: 18px 12pt;
    margin-bottom: 0px;
    display: none;
    color: var(--gray-1);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label{
    color: var(--orange-1);
}
/*override radio button style*/
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--orange-1) !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    filter: var(--fill-orange);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent !important;
}
.custom-control-label::before {
    background-color: transparent !important;
    border-color:var(--orange-1) !important;
}
/* End overiding radio button*/

li.panel-item{
    list-style: none;
    margin-bottom: 11pt;
    border-bottom: solid 1px var(--gray);
    color: white;
    padding-bottom: 6pt;
}
li.panel-item:hover{
    /*color: var(--orange-1);*/
}



.modal-content{
    color: var(--gray-1);
}

.modal-header{
    padding: 7px 11pt;
    background-color: var(--gray-2);
    border-color: gray;
    border-radius: 0;
}
.modal-header>a{
    color: var(--gray-1);
    text-decoration: none;
    font-size: 12pt;
}
.modal-title{
    color: white;
}
.modal-header a:last-child{
    color: var(--orange-1);
    font-size: 12pt;
}

.modal-body{
    background-color:  #3a3e46;
}
::-moz-placeholder,::placeholder, :-ms-input-placeholder,::-webkit-input-placeholder{
    color: red !important;
    opacity: 1 !important;
}
input:focus{
    border-bottom: red;
    box-shadow: red;
    outline: red;
}